In [31]:
# Import necessary libs
import pandas as pd
from pyspark.sql import SparkSession 
from pyspark.sql import functions as sf
from functools import reduce
from pyspark.sql.functions import *
from pyspark.sql.types import *
from datetime import date, timedelta, datetime
import time

from pyspark.conf import SparkConf
from pyspark.context import SparkContext

2. instantiate the spark session:

In [32]:
conf = SparkConf().setAppName("DataExtractionApp").setMaster("local[2]")
sc = SparkSession.builder.config("spark.driver.host", "localhost") \
.config ("spark.sql.execution.arrow.enabled", "true").getOrCreate()

3. ‘EXTRACT’ JSON data  and loaded in spark
    1. CDW_SAPP_BRANCH.JSON
    2. CDW_SAPP_CREDITCARD.JSON
    3. CDW_SAPP_CUSTOMER.JSON

In [33]:
df_cust = sc.read.json('data/cdw_sapp_custmer.json')
df_cust.show()

+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|APT_NO|  CREDIT_CARD_NO|   CUST_CITY| CUST_COUNTRY|          CUST_EMAIL|CUST_PHONE|CUST_STATE|CUST_ZIP|FIRST_NAME|LAST_NAME|        LAST_UPDATED|MIDDLE_NAME|      SSN|      STREET_NAME|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
|   656|4210653310061055|     Natchez|United States| AHooper@example.com|   1237818|        MS|   39120|      Alec|   Hooper|2018-04-21T12:49:...|         Wm|123456100|Main Street North|
|   829|4210653310102868|Wethersfield|United States| EHolman@example.com|   1238933|        CT|   06109|      Etta|   Holman|2018-04-21T12:49:...|    Brendan|123453023|    Redwood Drive|
|   683|4210653310116272|     Huntley|United States| WDunham@example.com|   1243018|        IL|   60142|    Wilber|   Dunham|2018-04-21T12:49:...|   Ezequiel|123454487| 12th Street East|
|   253|4210653310195948|   NewBerlin|United States|  EHardy@example.com|   1243215|        WI|   53151|   Eugenio|    Hardy|2018-04-21T12:49:...|      Trina|123459758|Country Club Road|
|   301|4210653310356919|      ElPaso|United States|  WAyers@example.com|   1242074|        TX|   79930|   Wilfred|    Ayers|2018-04-21T12:49:...|        May|123454431|   Madison Street|
|     3|4210653310395982|NorthOlmsted|United States|BWoodard@example.com|   1242570|        OH|   44070|      Beau|  Woodard|2018-04-21T12:49:...|    Ambrose|123454202|   Colonial Drive|
|    84|4210653310400536|      Vienna|United States|   SKemp@example.com|   1239685|        VA|   22180|    Sheila|     Kemp|2018-04-21T12:49:...|      Larry|123451799|   Belmont Avenue|
|   728|4210653310459911|      Duarte|United States| WHurley@example.com|   1238213|        CA|   91010|     Wendy|   Hurley|2018-04-21T12:49:...|        Ora|123453875|     Oxford Court|
|    81|4210653310773972|      Owosso|United States|AGilmore@example.com|   1240689|        MI|   48867|      Alec|  Gilmore|2018-04-21T12:49:...|     Tracie|123457511|    Forest Street|
|   561|4210653310794854|        Zion|United States|    BLau@example.com|   1235222|        IL|   60099|    Barbra|      Lau|2018-04-21T12:49:...|    Mitchel|123457464|     Court Street|
|   622|4210653310817373|  Youngstown|United States|EThomson@example.com|   1241363|        OH|   44512|   Edmundo|  Thomson|2018-04-21T12:49:...|      Denny|123457639|    Cypress Court|
|   924|4210653310844617| Summerville|United States| ETruong@example.com|   1236228|        SC|   29483|      Elsa|   Truong|2018-04-21T12:49:...|   Isabelle|123453242|  8th Street West|
|   611|4210653311015303|      ElPaso|United States|HMckinney@example...|   1238165|        TX|   79930|     Homer| Mckinney|2018-04-21T12:49:...|      Henry|123454339|      East Avenue|
|   680|4210653311215039|      Fenton|United States|   RKidd@example.com|   1234730|        MI|   48430|      Rita|     Kidd|2018-04-21T12:49:...|     Rickey|123454537|         Route 44|
|    71|4210653311229354|  Grandville|United States|ABallard@example.com|   1242113|        MI|   49418|    Amalia|  Ballard|2018-04-21T12:49:...|  Heriberto|123452373|    Warren Street|
|   195|4210653311652836|    YubaCity|United States| PThomas@example.com|   1239888|        CA|   95993|     Patty|   Thomas|2018-04-21T12:49:...|   Angelita|123455343|     Jones Street|
|   500|4210653311707126|   CapeCoral|United States| JMorrow@example.com|   1240158|        FL|   33904|  Josefina|   Morrow|2018-04-21T12:49:...|   Dorothea|123451533|       New Street|
|   989|4210653311730764|  Brookfield|United States|NAndrews@example.com|   1241408|        WI|   53045|    Nelson|  Andrews|2018-04-21T12:49:...|  Jefferson|123459278|  Division Street|
|   810|4210653311898082|    Richmond|United States|MSchneider@exampl...|   1238390|        VA|   23223|    Miquel|Schneider|2018-04-21T12:49:...|     Maximo|123456915|     Maple Street|
|   649|4210653312021765| WestChester|United States|PTidwell@example.com|   1235067|        PA|   19380|    Parker|  Tidwell|2018-04-21T12:49:...|    Arnulfo|123453807|       Eagle Road|
+------+----------------+------------+-------------+--------------------+----------+----------+--------+----------+---------+--------------------+-----------+---------+-----------------+
only showing top 20 rows

In [34]:
df_credit = sc.read.json('data/cdw_sapp_credit.json')
df_credit.head(5)

[Row(BRANCH_CODE=114, CREDIT_CARD_NO='4210653349028689', CUST_SSN=123459988, DAY=14, MONTH=2, TRANSACTION_ID=1, TRANSACTION_TYPE='Education', TRANSACTION_VALUE=78.9, YEAR=2018),
 Row(BRANCH_CODE=35, CREDIT_CARD_NO='4210653349028689', CUST_SSN=123459988, DAY=20, MONTH=3, TRANSACTION_ID=2, TRANSACTION_TYPE='Entertainment', TRANSACTION_VALUE=14.24, YEAR=2018),
 Row(BRANCH_CODE=160, CREDIT_CARD_NO='4210653349028689', CUST_SSN=123459988, DAY=8, MONTH=7, TRANSACTION_ID=3, TRANSACTION_TYPE='Grocery', TRANSACTION_VALUE=56.7, YEAR=2018),
 Row(BRANCH_CODE=114, CREDIT_CARD_NO='4210653349028689', CUST_SSN=123459988, DAY=19, MONTH=4, TRANSACTION_ID=4, TRANSACTION_TYPE='Entertainment', TRANSACTION_VALUE=59.73, YEAR=2018),
 Row(BRANCH_CODE=93, CREDIT_CARD_NO='4210653349028689', CUST_SSN=123459988, DAY=10, MONTH=10, TRANSACTION_ID=5, TRANSACTION_TYPE='Gas', TRANSACTION_VALUE=3.59, YEAR=2018)]

In [35]:
df_branch = sc.read.json('data/cdw_sapp_branch.json')
#df_branch.head(5)
#df_branch.show()
df_branch.printSchema()

root
 |-- BRANCH_CITY: string (nullable = true)
 |-- BRANCH_CODE: long (nullable = true)
 |-- BRANCH_NAME: string (nullable = true)
 |-- BRANCH_PHONE: string (nullable = true)
 |-- BRANCH_STATE: string (nullable = true)
 |-- BRANCH_STREET: string (nullable = true)
 |-- BRANCH_ZIP: long (nullable = true)
 |-- LAST_UPDATED: string (nullable = true)

4. Transform the data based on the requirements found in the Mapping Document.
        
    1. FIRST_NAME - Convert the Name to Title Case
    2. MIDDLE_NAME - Convert the middle name in lower case
    3. LAST_NAME - Convert the Last Name in Title Case
    4. STREET_NAME,APT_NO - Concatenate Apartment no and Street name of customer's Residence with comma as a seperator (Street, Apartment)
                    in new column FULL_STREET_ADDRESS
    5. CUST_PHONE - Change the format to xxx-xxxx

In [36]:
df_cust = df_cust.withColumn('MIDDLE_NAME', lower(sf.col('MIDDLE_NAME')))
df_cust = df_cust.withColumn('FIRST_NAME', initcap(sf.col('FIRST_NAME')))
df_cust = df_cust.withColumn('LAST_NAME', initcap(sf.col('LAST_NAME')))
df_cust.head(5)

[Row(APT_NO='656', CREDIT_CARD_NO='4210653310061055', CUST_CITY='Natchez', CUST_COUNTRY='United States', CUST_EMAIL='AHooper@example.com', CUST_PHONE=1237818, CUST_STATE='MS', CUST_ZIP='39120', FIRST_NAME='Alec', LAST_NAME='Hooper', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='wm', SSN=123456100, STREET_NAME='Main Street North'),
 Row(APT_NO='829', CREDIT_CARD_NO='4210653310102868', CUST_CITY='Wethersfield', CUST_COUNTRY='United States', CUST_EMAIL='EHolman@example.com', CUST_PHONE=1238933, CUST_STATE='CT', CUST_ZIP='06109', FIRST_NAME='Etta', LAST_NAME='Holman', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='brendan', SSN=123453023, STREET_NAME='Redwood Drive'),
 Row(APT_NO='683', CREDIT_CARD_NO='4210653310116272', CUST_CITY='Huntley', CUST_COUNTRY='United States', CUST_EMAIL='WDunham@example.com', CUST_PHONE=1243018, CUST_STATE='IL', CUST_ZIP='60142', FIRST_NAME='Wilber', LAST_NAME='Dunham', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='ezequiel', SSN=123454487, STREET_NAME='12th Street East'),
 Row(APT_NO='253', CREDIT_CARD_NO='4210653310195948', CUST_CITY='NewBerlin', CUST_COUNTRY='United States', CUST_EMAIL='EHardy@example.com', CUST_PHONE=1243215, CUST_STATE='WI', CUST_ZIP='53151', FIRST_NAME='Eugenio', LAST_NAME='Hardy', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='trina', SSN=123459758, STREET_NAME='Country Club Road'),
 Row(APT_NO='301', CREDIT_CARD_NO='4210653310356919', CUST_CITY='ElPaso', CUST_COUNTRY='United States', CUST_EMAIL='WAyers@example.com', CUST_PHONE=1242074, CUST_STATE='TX', CUST_ZIP='79930', FIRST_NAME='Wilfred', LAST_NAME='Ayers', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='may', SSN=123454431, STREET_NAME='Madison Street')]

In [37]:
df_cust = df_cust.withColumn('FULL_STREET_ADDRESS', 
                    sf.concat(sf.col('APT_NO'),sf.lit(', '), sf.col('STREET_NAME')))
df_cust.take(1)

[Row(APT_NO='656', CREDIT_CARD_NO='4210653310061055', CUST_CITY='Natchez', CUST_COUNTRY='United States', CUST_EMAIL='AHooper@example.com', CUST_PHONE=1237818, CUST_STATE='MS', CUST_ZIP='39120', FIRST_NAME='Alec', LAST_NAME='Hooper', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='wm', SSN=123456100, STREET_NAME='Main Street North', FULL_STREET_ADDRESS='656, Main Street North')]

In [38]:
df_cust = df_cust.withColumn('Ph',  sf.concat(substring('CUST_PHONE',1,3), sf.lit('-'), substring('CUST_PHONE',4,7) ))
df_cust.take(1)

[Row(APT_NO='656', CREDIT_CARD_NO='4210653310061055', CUST_CITY='Natchez', CUST_COUNTRY='United States', CUST_EMAIL='AHooper@example.com', CUST_PHONE=1237818, CUST_STATE='MS', CUST_ZIP='39120', FIRST_NAME='Alec', LAST_NAME='Hooper', LAST_UPDATED='2018-04-21T12:49:02.000-04:00', MIDDLE_NAME='wm', SSN=123456100, STREET_NAME='Main Street North', FULL_STREET_ADDRESS='656, Main Street North', Ph='123-7818')]

In [39]:
df_cust.describe('CUST_ZIP').show()

+-------+------------------+
|summary|          CUST_ZIP|
+-------+------------------+
|  count|               952|
|   mean|36312.616596638654|
| stddev| 23945.49431677531|
|    min|             01810|
|    max|             98908|
+-------+------------------+

6. Transfer data from source table 'CDW_SAPP_D_CUSTOMER' to target table 'CDW_SAPP_CUSTOMER'

In [40]:
CDW_SAPP_CUSTOMER = df_cust.selectExpr('SSN', 'FIRST_NAME', 'MIDDLE_NAME', 'LAST_NAME', 'Credit_card_no', 'FULL_STREET_ADDRESS', 'CUST_CITY', 'CUST_STATE','CUST_COUNTRY', 'CUST_ZIP', 'Ph as CUST_PHONE', 'CUST_EMAIL', 'LAST_UPDATED')
CDW_SAPP_CUSTOMER.show()

+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|      SSN|FIRST_NAME|MIDDLE_NAME|LAST_NAME|  Credit_card_no| FULL_STREET_ADDRESS|   CUST_CITY|CUST_STATE| CUST_COUNTRY|CUST_ZIP|CUST_PHONE|          CUST_EMAIL|        LAST_UPDATED|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
|123456100|      Alec|         wm|   Hooper|4210653310061055|656, Main Street ...|     Natchez|        MS|United States|   39120|  123-7818| AHooper@example.com|2018-04-21T12:49:...|
|123453023|      Etta|    brendan|   Holman|4210653310102868|  829, Redwood Drive|Wethersfield|        CT|United States|   06109|  123-8933| EHolman@example.com|2018-04-21T12:49:...|
|123454487|    Wilber|   ezequiel|   Dunham|4210653310116272|683, 12th Street ...|     Huntley|        IL|United States|   60142|  124-3018| WDunham@example.com|2018-04-21T12:49:...|
|123459758|   Eugenio|      trina|    Hardy|4210653310195948|253, Country Club...|   NewBerlin|        WI|United States|   53151|  124-3215|  EHardy@example.com|2018-04-21T12:49:...|
|123454431|   Wilfred|        may|    Ayers|4210653310356919| 301, Madison Street|      ElPaso|        TX|United States|   79930|  124-2074|  WAyers@example.com|2018-04-21T12:49:...|
|123454202|      Beau|    ambrose|  Woodard|4210653310395982|   3, Colonial Drive|NorthOlmsted|        OH|United States|   44070|  124-2570|BWoodard@example.com|2018-04-21T12:49:...|
|123451799|    Sheila|      larry|     Kemp|4210653310400536|  84, Belmont Avenue|      Vienna|        VA|United States|   22180|  123-9685|   SKemp@example.com|2018-04-21T12:49:...|
|123453875|     Wendy|        ora|   Hurley|4210653310459911|   728, Oxford Court|      Duarte|        CA|United States|   91010|  123-8213| WHurley@example.com|2018-04-21T12:49:...|
|123457511|      Alec|     tracie|  Gilmore|4210653310773972|   81, Forest Street|      Owosso|        MI|United States|   48867|  124-0689|AGilmore@example.com|2018-04-21T12:49:...|
|123457464|    Barbra|    mitchel|      Lau|4210653310794854|   561, Court Street|        Zion|        IL|United States|   60099|  123-5222|    BLau@example.com|2018-04-21T12:49:...|
|123457639|   Edmundo|      denny|  Thomson|4210653310817373|  622, Cypress Court|  Youngstown|        OH|United States|   44512|  124-1363|EThomson@example.com|2018-04-21T12:49:...|
|123453242|      Elsa|   isabelle|   Truong|4210653310844617|924, 8th Street West| Summerville|        SC|United States|   29483|  123-6228| ETruong@example.com|2018-04-21T12:49:...|
|123454339|     Homer|      henry| Mckinney|4210653311015303|    611, East Avenue|      ElPaso|        TX|United States|   79930|  123-8165|HMckinney@example...|2018-04-21T12:49:...|
|123454537|      Rita|     rickey|     Kidd|4210653311215039|       680, Route 44|      Fenton|        MI|United States|   48430|  123-4730|   RKidd@example.com|2018-04-21T12:49:...|
|123452373|    Amalia|  heriberto|  Ballard|4210653311229354|   71, Warren Street|  Grandville|        MI|United States|   49418|  124-2113|ABallard@example.com|2018-04-21T12:49:...|
|123455343|     Patty|   angelita|   Thomas|4210653311652836|   195, Jones Street|    YubaCity|        CA|United States|   95993|  123-9888| PThomas@example.com|2018-04-21T12:49:...|
|123451533|  Josefina|   dorothea|   Morrow|4210653311707126|     500, New Street|   CapeCoral|        FL|United States|   33904|  124-0158| JMorrow@example.com|2018-04-21T12:49:...|
|123459278|    Nelson|  jefferson|  Andrews|4210653311730764|989, Division Street|  Brookfield|        WI|United States|   53045|  124-1408|NAndrews@example.com|2018-04-21T12:49:...|
|123456915|    Miquel|     maximo|Schneider|4210653311898082|   810, Maple Street|    Richmond|        VA|United States|   23223|  123-8390|MSchneider@exampl...|2018-04-21T12:49:...|
|123453807|    Parker|    arnulfo|  Tidwell|4210653312021765|     649, Eagle Road| WestChester|        PA|United States|   19380|  123-5067|PTidwell@example.com|2018-04-21T12:49:...|
+---------+----------+-----------+---------+----------------+--------------------+------------+----------+-------------+--------+----------+--------------------+--------------------+
only showing top 20 rows

1. BRANCH_ZIP - If the source value is null load default (00000) value else Direct move
2. BRANCH_PHONE - Change the format of phone number to (XXX)XXX-XXXX

In [41]:
df_branch = df_branch.na.fill(00000, subset = ['BRANCH_ZIP'])

df_branch = df_branch.withColumn('ph',  sf.concat(sf.lit('('), substring('BRANCH_PHONE',1,3), sf.lit(')'), substring('BRANCH_PHONE',4,3),sf.lit('-'), substring('BRANCH_PHONE',7,4) ))
df_branch.show()

+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+-------------+
|      BRANCH_CITY|BRANCH_CODE| BRANCH_NAME|BRANCH_PHONE|BRANCH_STATE|      BRANCH_STREET|BRANCH_ZIP|        LAST_UPDATED|           ph|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+-------------+
|        Lakeville|          1|Example Bank|  1234565276|          MN|       Bridle Court|     55044|2018-04-18T16:51:...|(123)456-5276|
|          Huntley|          2|Example Bank|  1234618993|          IL|  Washington Street|     60142|2018-04-18T16:51:...|(123)461-8993|
|SouthRichmondHill|          3|Example Bank|  1234985926|          NY|      Warren Street|     11419|2018-04-18T16:51:...|(123)498-5926|
|       Middleburg|          4|Example Bank|  1234663064|          FL|   Cleveland Street|     32068|2018-04-18T16:51:...|(123)466-3064|
|    KingOfPrussia|          5|Example Bank|  1234849701|          PA|        14th Street|     19406|2018-04-18T16:51:...|(123)484-9701|
|         Paterson|          7|Example Bank|  1234144890|          NJ|   Jefferson Street|      7501|2018-04-18T16:51:...|(123)414-4890|
|        Pittsford|          8|Example Bank|  1234678272|          NY|           B Street|     14534|2018-04-18T16:51:...|(123)467-8272|
|     Wethersfield|          9|Example Bank|  1234675219|          CT|    Jefferson Court|      6109|2018-04-18T16:51:...|(123)467-5219|
|     NorthOlmsted|         10|Example Bank|  1234145047|          OH|     Cambridge Road|     44070|2018-04-18T16:51:...|(123)414-5047|
|     Hillsborough|         11|Example Bank|  1234366354|          NJ|    3rd Street West|      8844|2018-04-18T16:51:...|(123)436-6354|
|   MadisonHeights|         12|Example Bank|  1234867175|          MI|          Mill Road|     48071|2018-04-18T16:51:...|(123)486-7175|
|           Oviedo|         14|Example Bank|  1234938460|          FL|  Washington Street|     32765|2018-04-18T16:51:...|(123)493-8460|
|    Mechanicsburg|         15|Example Bank|  1234462043|          PA|    Chestnut Street|     17050|2018-04-18T16:51:...|(123)446-2043|
|        Plainview|         16|Example Bank|  1234857525|          NY|       Monroe Drive|     11803|2018-04-18T16:51:...|(123)485-7525|
|          Paducah|         17|Example Bank|  1234546360|          KY|    Railroad Street|     42001|2018-04-18T16:51:...|(123)454-6360|
|     Harleysville|         18|Example Bank|  1234824455|          PA|Church Street South|     19438|2018-04-18T16:51:...|(123)482-4455|
|     SilverSpring|         19|Example Bank|  1234484380|          MD|        King Street|     20901|2018-04-18T16:51:...|(123)448-4380|
|       Burnsville|         20|Example Bank|  1234840138|          MN|   Canterbury Drive|     55337|2018-04-18T16:51:...|(123)484-0138|
|           Tacoma|         21|Example Bank|  1234362433|          WA|         2nd Avenue|     98444|2018-04-18T16:51:...|(123)436-2433|
|         Carlisle|         22|Example Bank|  1234922492|          PA| Front Street South|     17013|2018-04-18T16:51:...|(123)492-2492|
+-----------------+-----------+------------+------------+------------+-------------------+----------+--------------------+-------------+
only showing top 20 rows

 Transfer data from source table 'CDW_SAPP_D_BRANCH' to target table 'CDW_SAPP_BRANCH'

In [42]:
CDW_SAPP_BRANCH= df_branch.selectExpr('BRANCH_CODE', 'BRANCH_NAME', 'BRANCH_STREET', 'BRANCH_CITY', 'BRANCH_STATE','BRANCH_ZIP', 'ph as BRANCH_PHONE', 'LAST_UPDATED')
CDW_SAPP_BRANCH.show()

+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
|BRANCH_CODE| BRANCH_NAME|      BRANCH_STREET|      BRANCH_CITY|BRANCH_STATE|BRANCH_ZIP| BRANCH_PHONE|        LAST_UPDATED|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
|          1|Example Bank|       Bridle Court|        Lakeville|          MN|     55044|(123)456-5276|2018-04-18T16:51:...|
|          2|Example Bank|  Washington Street|          Huntley|          IL|     60142|(123)461-8993|2018-04-18T16:51:...|
|          3|Example Bank|      Warren Street|SouthRichmondHill|          NY|     11419|(123)498-5926|2018-04-18T16:51:...|
|          4|Example Bank|   Cleveland Street|       Middleburg|          FL|     32068|(123)466-3064|2018-04-18T16:51:...|
|          5|Example Bank|        14th Street|    KingOfPrussia|          PA|     19406|(123)484-9701|2018-04-18T16:51:...|
|          7|Example Bank|   Jefferson Street|         Paterson|          NJ|      7501|(123)414-4890|2018-04-18T16:51:...|
|          8|Example Bank|           B Street|        Pittsford|          NY|     14534|(123)467-8272|2018-04-18T16:51:...|
|          9|Example Bank|    Jefferson Court|     Wethersfield|          CT|      6109|(123)467-5219|2018-04-18T16:51:...|
|         10|Example Bank|     Cambridge Road|     NorthOlmsted|          OH|     44070|(123)414-5047|2018-04-18T16:51:...|
|         11|Example Bank|    3rd Street West|     Hillsborough|          NJ|      8844|(123)436-6354|2018-04-18T16:51:...|
|         12|Example Bank|          Mill Road|   MadisonHeights|          MI|     48071|(123)486-7175|2018-04-18T16:51:...|
|         14|Example Bank|  Washington Street|           Oviedo|          FL|     32765|(123)493-8460|2018-04-18T16:51:...|
|         15|Example Bank|    Chestnut Street|    Mechanicsburg|          PA|     17050|(123)446-2043|2018-04-18T16:51:...|
|         16|Example Bank|       Monroe Drive|        Plainview|          NY|     11803|(123)485-7525|2018-04-18T16:51:...|
|         17|Example Bank|    Railroad Street|          Paducah|          KY|     42001|(123)454-6360|2018-04-18T16:51:...|
|         18|Example Bank|Church Street South|     Harleysville|          PA|     19438|(123)482-4455|2018-04-18T16:51:...|
|         19|Example Bank|        King Street|     SilverSpring|          MD|     20901|(123)448-4380|2018-04-18T16:51:...|
|         20|Example Bank|   Canterbury Drive|       Burnsville|          MN|     55337|(123)484-0138|2018-04-18T16:51:...|
|         21|Example Bank|         2nd Avenue|           Tacoma|          WA|     98444|(123)436-2433|2018-04-18T16:51:...|
|         22|Example Bank| Front Street South|         Carlisle|          PA|     17013|(123)492-2492|2018-04-18T16:51:...|
+-----------+------------+-------------------+-----------------+------------+----------+-------------+--------------------+
only showing top 20 rows

In [43]:
#df_credit.withColumn("TimeID",to_timestamp(df_credit['DAY'])).show(3,False)
df_credit1 = df_credit.withColumn('TIMECol',  sf.concat(df_credit['YEAR'], lit('-'), df_credit['MONTH'], lit('-'), df_credit['DAY']).cast('date'))
df_credit1 = df_credit1.withColumn("TIMEID", df_credit1["TIMECol"].cast('string'))
df_credit1 = df_credit1.withColumn("TIMEID", regexp_replace('TIMEID','-',''))
df_credit1.show()

+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+----------+--------+
|BRANCH_CODE|  CREDIT_CARD_NO| CUST_SSN|DAY|MONTH|TRANSACTION_ID|TRANSACTION_TYPE|TRANSACTION_VALUE|YEAR|   TIMECol|  TIMEID|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+----------+--------+
|        114|4210653349028689|123459988| 14|    2|             1|       Education|             78.9|2018|2018-02-14|20180214|
|         35|4210653349028689|123459988| 20|    3|             2|   Entertainment|            14.24|2018|2018-03-20|20180320|
|        160|4210653349028689|123459988|  8|    7|             3|         Grocery|             56.7|2018|2018-07-08|20180708|
|        114|4210653349028689|123459988| 19|    4|             4|   Entertainment|            59.73|2018|2018-04-19|20180419|
|         93|4210653349028689|123459988| 10|   10|             5|             Gas|             3.59|2018|2018-10-10|20181010|
|        164|4210653349028689|123459988| 28|    5|             6|       Education|             6.89|2018|2018-05-28|20180528|
|        119|4210653349028689|123459988| 19|    5|             7|   Entertainment|            43.39|2018|2018-05-19|20180519|
|         23|4210653349028689|123459988|  8|    8|             8|             Gas|            95.39|2018|2018-08-08|20180808|
|        166|4210653349028689|123459988| 18|    3|             9|   Entertainment|            93.26|2018|2018-03-18|20180318|
|         83|4210653349028689|123459988|  3|    9|            10|           Bills|           100.38|2018|2018-09-03|20180903|
|         52|4210653349028689|123459988| 21|    8|            11|             Gas|            98.75|2018|2018-08-21|20180821|
|         17|4210653349028689|123459988| 24|   12|            12|             Gas|            42.71|2018|2018-12-24|20181224|
|         80|4210653349028689|123459988|  3|    4|            13|         Grocery|            40.24|2018|2018-04-03|20180403|
|         50|4210653349028689|123459988| 15|    4|            14|           Bills|            17.81|2018|2018-04-15|20180415|
|        123|4210653349028689|123459988| 17|    5|            15|           Bills|             29.0|2018|2018-05-17|20180517|
|          9|4210653349028689|123459988|  6|    7|            16|            Test|            70.63|2018|2018-07-06|20180706|
|          3|4210653349028689|123459988| 28|    9|            17|            Test|            27.04|2018|2018-09-28|20180928|
|        135|4210653349028689|123459988|  4|    7|            18|   Entertainment|            88.75|2018|2018-07-04|20180704|
|        103|4210653349028689|123459988| 24|    4|            19|            Test|            77.02|2018|2018-04-24|20180424|
|         78|4210653349028689|123459988|  8|   10|            20|           Bills|            34.34|2018|2018-10-08|20181008|
+-----------+----------------+---------+---+-----+--------------+----------------+-----------------+----+----------+--------+
only showing top 20 rows

 Transfer data from source table 'CDW_SAPP_D_CREDIT_CARD' to target table 'CDW_SAPP_CREDIT_CARD'

In [44]:
CDW_SAPP_CREDIT_CARD = df_credit1.selectExpr('CREDIT_CARD_NO as CUST_CC_NO', 'TIMEID', 'CUST_SSN', 'BRANCH_CODE', 'TRANSACTION_TYPE', 'TRANSACTION_VALUE', 'TRANSACTION_ID')
CDW_SAPP_CREDIT_CARD.show()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows

2. Data Loading from database

In [51]:
CDW_SAPP_CUSTOMER.write.format("jdbc") \
.mode("overwrite") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.CDW_SAPP_CUSTOMER") \
.option("user", "root") \
.option("password", "lakshmi") \
.option("primaryKeyFields","SSN")\
.save()

In [47]:
CDW_SAPP_BRANCH.write.format("jdbc") \
.mode("overwrite") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.CDW_SAPP_BRANCH") \
.option("user", "root") \
.option("password", "lakshmi") \
.option("primaryKeyFields", "BRANCH_CODE")\
.save()

In [49]:
CDW_SAPP_CREDIT_CARD.show()
CDW_SAPP_CREDIT_CARD.write.format("jdbc") \
.mode("overwrite") \
.option("url", "jdbc:mysql://localhost:3306/creditcard_capstone") \
.option("dbtable", "creditcard_capstone.CDW_SAPP_CREDIT_CARD") \
.option("user", "root") \
.option("password", "lakshmi") \
.option("primaryKeyFields", "TRANSACTION_ID")\
.save()

+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|      CUST_CC_NO|  TIMEID| CUST_SSN|BRANCH_CODE|TRANSACTION_TYPE|TRANSACTION_VALUE|TRANSACTION_ID|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
|4210653349028689|20180214|123459988|        114|       Education|             78.9|             1|
|4210653349028689|20180320|123459988|         35|   Entertainment|            14.24|             2|
|4210653349028689|20180708|123459988|        160|         Grocery|             56.7|             3|
|4210653349028689|20180419|123459988|        114|   Entertainment|            59.73|             4|
|4210653349028689|20181010|123459988|         93|             Gas|             3.59|             5|
|4210653349028689|20180528|123459988|        164|       Education|             6.89|             6|
|4210653349028689|20180519|123459988|        119|   Entertainment|            43.39|             7|
|4210653349028689|20180808|123459988|         23|             Gas|            95.39|             8|
|4210653349028689|20180318|123459988|        166|   Entertainment|            93.26|             9|
|4210653349028689|20180903|123459988|         83|           Bills|           100.38|            10|
|4210653349028689|20180821|123459988|         52|             Gas|            98.75|            11|
|4210653349028689|20181224|123459988|         17|             Gas|            42.71|            12|
|4210653349028689|20180403|123459988|         80|         Grocery|            40.24|            13|
|4210653349028689|20180415|123459988|         50|           Bills|            17.81|            14|
|4210653349028689|20180517|123459988|        123|           Bills|             29.0|            15|
|4210653349028689|20180706|123459988|          9|            Test|            70.63|            16|
|4210653349028689|20180928|123459988|          3|            Test|            27.04|            17|
|4210653349028689|20180704|123459988|        135|   Entertainment|            88.75|            18|
|4210653349028689|20180424|123459988|        103|            Test|            77.02|            19|
|4210653349028689|20181008|123459988|         78|           Bills|            34.34|            20|
+----------------+--------+---------+-----------+----------------+-----------------+--------------+
only showing top 20 rows